{
  "general": {
    "files": {
      ".editorconfig": "Editor Config",
      ".csharpierrc": "CSharpier Config",
      ".csharpierrc.json": "CSharpier Config",
      ".csharpierrc.yaml": "CSharpier Config",
      ".gitleaks.toml": "Gitleaks Config",
      ".gitignore": "Gitignore config",
      ".gitattributes": "git file attributes config",
      ".tsqllintrc": "SQL Lint Config",
      "CONTRIBUTING.md": "Documentation",
      "SECURITY.md": "Documentation"
    }
  },
  "dotNet": {
    "global-json": true,
    "resharper-dotsettings": true,
    "files": {
      "CodeAnalysis.ruleset": "Code analysis",
      "Directory.Build.props": "C# Directory Build Properties",
      "pre-release.rule-settings.json": "Code analysis - pre-release rule overrides",
      "release.rule-settings.json": "Code analysis - release rule overrides"
    }
  },
  "gitHub": {
    "dependabot": {
      "generate": true
    },
    "labels": {
      "generate": true
    },
    "issue-templates": true,
    "pr-template": true,
    "actions": true,
    "linters": true,
    "files": {
      "pr-lint.yml": "Linters",
      "CODEOWNERS": "Code owners",
      "FUNDING.yml": "Funding config"
    }
  },
  "cleanup": {
    "files": {
      ".github/actions/nuget-push-integrated-symbol-feed/actions.yml": "Obsolete action",
      ".github/actions/nuget-push-separate-symbol-feed/actions.yml": "Obsolete action",
      ".github/workflows/reformat-sql.yml": "Obsolete action",
      ".github/workflows/reformat-yaml.yml": "Obsolete action",
      ".github/actions/build-check/actions.yml": "Obsolete action"
    }
  }
}