{
  "settings": {
    "autoReleasePendingPackages": 1,
    "minimumHoursBeforeAutoRelease": 4,
    "inactivityHoursBeforeAutoRelease": 8
  },
  "neverRelease": [
    {
      "repo": "template",
      "match": "contains",
      "include": true
    },
    {
      "repo": "git@github.com:funfair-tech/funfair-server-content-package.git",
      "match": "exact",
      "include": true
    }
  ],
  "allowedAutoUpgrade": [
    {
      "repo": "template",
      "match": "contains",
      "include": false
    },
    {
      "repo": "credfeto",
      "match": "contains",
      "include": true
    },
    {
      "repo": "BuildBot",
      "match": "contains",
      "include": true
    },
    {
      "repo": "CoinBot",
      "match": "contains",
      "include": true
    },
    {
      "repo": "funfair-server-balance-bot",
      "match": "contains",
      "include": true
    },
    {
      "repo": "funfair-server-build-check",
      "match": "contains",
      "include": true
    },
    {
      "repo": "funfair-server-build-version",
      "match": "contains",
      "include": true
    },
    {
      "repo": "funfair-content-package-builder",
      "match": "contains",
      "include": true
    }
  ],
  "alwaysMatch": [
    {
      "repo": "git@github.com:funfair-tech/funfair-server-content-package.git",
      "match": "exact",
      "include": false
    },
    {
      "repo": "code-analysis",
      "match": "contains",
      "include": false
    }
  ]
}
